.header{
    background-color: black;
    height: 50px;
    width: 100%;
}
.header h1{
    padding-top: 20px;
    color: white;
    font-size: 1.3em;
}
.buscaUsuario{
    margin-top: 30px;
}
#inputUsuario{
    width: 200px;
    height: 50px;
    margin-right: 3px;
}
#retornoUsuGit{
    width: 80%;
    margin: 20px auto;
}
#avatar{
    border: 1px solid #DCDCDC;
    border-radius: 10%;
    width:400px;
    height: 300px;
    margin-left: 30px;
    margin-right: 50px;
}
#conteudoUsu{
    width: 50%;
}
#usuario{
    height: 50px;
    width: 100%;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 20px;
}
#nomeRepo{
    font-size: 2em;
}
#listaRepo{
    width: 90%;
    margin: 0 auto;
}
#listaRepoItem{
    width: 30%;
    border: 1px solid #DCDCDC;
    margin: 10px 10px;
}
#liLogo{
    border-radius: 50%;
}